<!doctype html>
<html>

<head>
    <title>ng-book 2: Angular 2 Router</title>
    <base href="/">

    <!--
    {% for (var css in o.htmlWebpackPlugin.files.css) { %}
    <link href="{%=o.htmlWebpackPlugin.files.css[css] %}" rel="stylesheet"> {% } %}
    -->
</head>

<body class="container-fullwidth">
    <div class="page-header">
        <div class="container">
            <h1>Sportify <small>music for active people</small></h1>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <router-app></router-app>
        </div>
    </div>

    <!--script src="/common.js"></script>
    <script src="/vendor.js"></script>
    <script src="/app.js"></script-->
</body>

</html>